#root {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans Mono", monospace;
}
:root {
  --color_primary: #ffffff;
  --color_secundary: #00600f;
  --text: #000000;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--color_primary);
  position: fixed;
  overflow: hidden;
  z-index: 900;
  transition: 2s;
}
.abajo {
  width: 99%;
  height: 70px;
  background-color: rgb(0, 96, 15, 0.6);
  position: fixed;
  overflow: hidden;
  z-index: 900;
  border-radius: 29px;
  margin: 5px;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icono {
  width: 160px;
}
.nav__lista-ul {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__icon {
  flex-grow: 0.98;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__lista {
  flex-grow: 1;
  margin-right: 30px;
}
.nav__lista-ul {
  width: 100%;
  height: 100%;
  list-style: none;
}
.nav__lista-ul-li a {
  text-decoration: none;
  color: var(--text);
  font-size: larger;
  font-weight: bold;
  transition: 2.5;
}
.nav__lista-ul-li a:hover {
  color: var(--color_secundary);
}
.abajo a {
  color: var(--color_primary);
  transition: 1s;
}
.abajo a:hover {
  color: var(--text);
}
.abajo img {
  filter: brightness(117%) saturate(0%) contrast(448%) invert(100%);
  -webkit-filter: brightness(117%) saturate(0%) contrast(448%) invert(100%);
  -moz-filter: brightness(117%) saturate(0%) contrast(448%) invert(100%);
  transition: 1s;
}
.abajo img:hover {
  filter: none;
}
/* -------------------------------------------------------------------------- */
.redes_sociles {
  background-color: rgb(255, 255, 255, 0);
  height: 250px;
  padding: 30px 15px;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: calc(100% - 310px);
  z-index: 900;
}
.redes_sociles a {
  width: 26px;
  filter: brightness(0%);
  transition: 1s;
}
.redes_sociles a:hover {
  filter: none;
}
.redes_abajo a{
  filter: none ;
  transition: 1s;
}
.redes_abajo a:hover{
  filter: brightness(0%) ;
}
/* -------------------------------------------------------------------------- */
.correo {
  background-color: rgb(255, 255, 255, 0);
  height: 24px;
  width: 260px;
  padding: 30px 10px;
  position: fixed;
  overflow: hidden;
  transform: rotate(90deg);
  left: calc(100% - 165px);
  top: calc(100% - 200px);
  z-index: 900;
}
.correo a {
  text-decoration: none;
  color: var(--text);
  font-size: larger;
  font-weight: bold;
  transition: 1s;
}
.correo a:hover {
  color: #00600f;
}
.correo_abajo a{
  color: #00600f;
  transition: 1s;
}
.correo_abajo a:hover{
  color: #000000;
}
/* -------------------------------------------------------------------------- */
.main__bienvenida {
  color: var(--text);
  background-color: var(--color_primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: x-large;
  z-index: 800;
}
.bienvenida {
  margin: auto;
  padding: 0 100px;
}

.main__bienvenida_nombre {
  color: var(--color_secundary);
  font-size: xx-large;
}
/* -------------------------------------------------------------------------- */
.acerca_de_mi {
  color: var(--text);
  display: flex;
  color: var(--text);
  height: 100vh;
  width: 100%;
  background-color: var(--color_primary);
  overflow: hidden;
  font-size: x-large;
  margin-top: 100px;
}

.div_acerca_de_mi {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 100px;
}
.acerca_de_mi_description {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.acerca_de_mi_p {
  padding-top: 30px;
}
.acerca_de_mi_p p {
  text-align: justify;
  font-size: large;
}

.titulo_acerca_de_mi {
  color: var(--color_secundary);
  font-size: xx-large;
  padding: 10px 10px 10px 0;
}
.acerca_de_mi_img {
  padding: 50px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.acerca_de_mi_img img {
  width: 260px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 26px 27px 39px -16px rgba(0, 0, 0, 0.53);
}

/* ------------------------------------ */
.skills_softSKill {
  color: var(--text);
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: var(--color_primary);
  overflow: hidden;
  font-size: x-large;
  padding-top: 100px;
}
.skills_softSKill_contenedor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
}
.skills_contenerdor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.titulo_skills {
  font-size: xx-large;
  color: var(--color_secundary);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}
.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  padding: 40px 0;
}
.skills_etiqueta {
  height: 100%;
  width: 15%;
  box-shadow: 0px 0px 4px 1px #000000;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 7px;
}
.skills_etiqueta_imagen {
  width: 80px;
  padding: 4px 4px 0 4px;
}

.softSkills_contenedor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.softSkills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  padding: 40px 0;
}
.softSkills_etiqueta {
  height: 100%;
  width: 15%;
  box-shadow: 0px 0px 4px 1px #00600f;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 7px;
}

.softSkills_etiqueta_icono {
  width: 80px;
  padding: 4px 4px 0 4px;
}
/* -------------------------------------- */
.educacion {
  color: var(--text);
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: var(--color_primary);
  overflow: hidden;
  font-size: x-large;
  padding-top: 100px;
}
.contenedor_educacion {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
  margin: auto;
}
.contenedor_educacion_titulo {
  color: var(--color_secundary);
  font-size: xx-large;
}
.contenedor_educacion_tarjetas {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.tarjetas_educacion {
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: medium;
  padding: 10px 20px;
}
.tarjeta_educacion_nombre {
  width: 100%;
  margin-top: 10px;
  margin-left: -60px;
}
.div_imagen {
  height: 70%;
  width: 100%;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 96, 15, 0.75);
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #ffffff;
}
.tajeta_educacion_imagen {
  width: 200px;
}
.tajeta_educacion_imagen_electro {
  width: 130px;
}
.tajeta_educacion_imagen_uptc {
  width: 120px;
}
.tarjeta_educacion_nombre {
  width: 100%;
  height: 10%;
}

/* --------------------------------------------- */

.proyectos {
  display: flex;
  height: calc(150vh - 100px);
  width: 100%;
  background-color: var(--color_primary);
  overflow: hidden;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.tarjeta_proyecto {
  height: 27%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: medium;
  border-radius: 7px;
  box-shadow: 0px 0px 60px -28px rgba(0, 96, 15, 0.75);
  background-color: var(--color_primary);
}
.div_texto_tarjeta {
  height: 100%;
  width: 50%;
  display: flex;
}
.div_texto_tarjeta_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0 10px;
}
.div_texto_tarjeta h2 {
  font-size: x-large;
  color: var(--color_secundary);
}
.div_texto_tarjeta p {
  text-align: justify;
  color: #1f1f1f;
}
.div_texto_tarjeta a {
  width: 40%;
  height: 15%;
  margin: 0 auto;
  text-decoration: none;
}
.div_texto_tarjeta button {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  background-color: #00600ec4;
  color: var(--color_primary);
}
.div_texto_tarjeta button:hover {
  background-color: #00600f;
  color: var(--color_primary);
  cursor: pointer;
}
.div_imagen_tarjeta_1 {
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 0px 7px 7px 0;
}
.div_imagen_tarjeta_2 {
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 7px 0px 0px 7px;
}
.tarjeta_proyecto img {
  width: 100%;
  height: 100%;
  margin: auto;
}
/* -------------------------------------------- */
.contacto {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: var(--color_primary);
  overflow: hidden;
  padding-top: 100px;
}
.contenedor_contacto {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedor_contacto form {
  display: flex;
  height: 90%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 17px;
  box-shadow: 0px 0px 60px -28px rgba(0, 96, 15, 0.75);
  padding: 10px;
}
.form_mesaje{
  width: 50%;
  text-align: center;
}
.form_mesaje h1{
  font-size: xx-large;
  padding-bottom: 7px;
  color: var(--color_secundary);
}
.form_input{
  width: 60%;
}
.form_input input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 96, 15, 0.75);
  padding-left: 5px;
}
.form_input label{
  display: block;
}
.form_input_mensaje{
  width: 60%;
  height: 70px;
}
.form_input_mensaje textarea{
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid rgba(0, 96, 15, 0.75);
  padding-left: 5px;
}
.form_input_mensaje label{
  display: block;
}
.contenedor_contacto button{
  width: 30%;
  height: 10%;
  border-radius: 50px;
  border: none;
  background-color: #00600ec4;
  color: var(--color_primary);
  margin: 17px 0;
}
.contenedor_contacto button:hover{
  background-color: #00600f;
  color: var(--color_primary);
  cursor: pointer;
}
